<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- For MRAID 2 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:networkSecurityConfig,android:allowBackup">
        <activity
            android:name=".adunits.InstreamAdInrollActivity"
            android:exported="false" />
        <activity
            android:name=".adunits.InstreamAdBinderActivity"
            android:exported="false" />
        <activity
            android:name=".settings.PoliciesActivity"
            android:exported="false" />
        <activity
            android:name=".adunits.SimpleInstreamAdActivity"
            android:exported="false" />
        <activity
            android:name=".adunits.CustomNativeAdActivity"
            android:exported="false" />
        <activity
            android:name=".adunits.AdfoxCarouselAdActivity"
            android:exported="false" />
        <activity
            android:name=".adunits.NativeTemplateAdActivity"
            android:exported="false" />
        <activity
            android:name=".adunits.RewardedAdActivity"
            android:exported="false" />
        <activity
            android:name=".adunits.InterstitialAdActivity"
            android:exported="false" />
        <activity
            android:name=".adunits.InlineBannerAdActivity"
            android:exported="false" />
        <activity
            android:name=".adunits.StickyBannerAdActivity"
            android:exported="false" />
        <activity
            android:name=".adunits.FeedActivity"
            android:exported="false" />
        <activity
            android:name=".adunits.AppOpenAdActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".tv.TVActivity"
            android:exported="false" />
        <activity
            android:name=".LauncherActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4651572829019143~7657225321" />

        <receiver
            android:name="com.vungle.warren.NetworkProviderReceiver"
            android:exported="true" />
    </application>

</manifest>
