<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ This file is a part of the Yandex Advertising Network
  ~
  ~ Version for Android (C) 2016 YANDEX
  ~
  ~ You may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at https://legal.yandex.com/partner_ch/
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yandex.nativeads.sample" >

    <!-- Optional. Approximate location derived from network location sources such as cell towers and Wi-Fi -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
